= "#{@user.nickname}様"
ご登録いただきありがとうございます。現在はまだ仮登録の状態です。

以下のリンクをクリックしてアカウントの有効化をお願い致します。
= edit_account_activation_url(@user.activation_token, email: @user.email)
%br/
%br/
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
%br/
COPYRIGHT (C) 2020 プロつく, Inc. ALL RIGHTS RESERVED.
