パスワードの再設定

以下のリンクをクリックしてパスワードの再設定を行ってください。

= edit_password_reset_url(@user.reset_token, email: @user.email)

このリンクの有効期限は送信メールが届いてから2時間です。二時間を超えると無効になります。
%br/
%br/
二時間を超えてしまった場合はお手数ですが、
= new_password_reset_url
からやり直してくださいませ。
%br/
%br/
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
%br/
COPYRIGHT (C) 2020 プロつく, Inc. ALL RIGHTS RESERVED.
