%h1 パスワードの再設定
%p
  以下のリンクをクリックしてパスワードの再設定を行ってください。
%p
  = link_to 'パスワードの再設定', edit_password_reset_url(@user.reset_token, email: @user.email)
%p
  このリンクの有効期限は送信メールが届いてから2時間です。二時間を超えると無効になります。%br/
  二時間を超えてしまった場合はお手数ですが、初めからやり直してください。