- @stock_items.each do |item|
  .uk-flex
    .post_detail
      = "#{item.user.nickname}の投稿"
    .uk-panel
      %p.post_user_title
        = link_to item.title, item_path(item)
  /10件毎にページネーション
.paginate
  = paginate @posted_items