- @stock_items.each do |item|
  .user_post_history
    .post_history_DataTime
      = "#{item.user.nickname}の投稿"
    .post_user_title_history
      = link_to item.title, item_path(item)
  /10件毎にページネーション
.mypage_paginate
  = paginate @stock_items, param_name: 'stocks_page', theme: 'my_custom_theme'
