- set_meta_tags title: 'ヘルプページ'
.uk-container.uk-container-center
  %h1.uk-text-center.uk-text-bold ヘルプページ
  %h3
    お困りごと、不明点、バグ報告、ご意見要望などございましたら、
    = link_to 'お問い合わせフォーム', 'https://forms.gle/wUnrfPfy8nc2fgey7'
    からご連絡いただくか、miraishida00510☆gmail.comまでご連絡下さいませ。
  %p
    ※迷惑メール対策のため、「☆」で表記しております。お問合わせの際は「☆」を半角の「@」に変更してご利用ください。
  %h3
    Q&A等、こちらのページは随時更新していく予定です。
