<form class="uk-form">

  <fieldset data-uk-margin>
    <legend>出品ページ</legend>
    <div class="uk-form-row">
      <input type="text" placeholder="タイトルを入力">
    </div>
    <div class="uk-form-row">
      <textarea cols="100" rows="100" placeholder="">...</textarea>
      <p class="uk-form-help-block">...</p>
    </div>
    <div class="uk-form-row">
      <input type="text" placeholder="価格を入力">
    </div>
    <div class="uk-form-row">
      <select>
        <option>静岡県</option>
        <option>三重県</option>
      </select>
    </div>
    <button class="uk-button">出品する</button>
  </fieldset>

</form>