//Utility
 li {
   list-style: none;
 }
a {
  text-decoration: none;
}
body {
  margin: 0;
}
// TOPページ

//header
.uk-border-rounded {
  border-color: #1e87f0
}
.uk-text-white {
  color: white;
  }
.uk-navbar-container.tm-navbar-container {
  background-color: white;
}

//新規登録フォーム
.uk-width-form {
  width: 30%;
}
.uk-margin-btn {
  margin-bottom: 0;
}

//新規投稿ページ
#markdown_preview {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  margin-left: 10px;
  p{
    margin-left: 28px;
    margin-top: 0;
  }
  h1 {
    font-weight: bold;
    font-size: 28px;
    margin: 10px 20px;
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
    padding-left: 10px;
  }
  h2,h3{
    border: 1px solid #f4f8fa;
    background: #f4f8fa;
    padding: 0px 10px;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 18px;
    margin-right: 20px;
    font-weight: bold;
  }
  h4{
    margin-left: 20px;
    font-size: 15px;
  }
  h5{
    margin-left: 20px;
    font-size: 13px;
  }
  h6{
    margin-left: 20px;
    font-size: 10px;
  }
}

// 投稿一覧ページ

//フッター
footer {
  background-color: #3e3e3e;
  color: whitesmoke;
  margin-top: 1em;
  height: 100%;
  ul {
    margin-top: 0;
    li {
      margin-bottom: 5px;
    }
  }
}